---
interface Props {
  align?: "end" | "default";
  class?: string;
  disableMobile?: boolean;
}

const { align = "end", class: classNames, disableMobile = false, ...rest } = Astro.props;
const baseUrl = import.meta.env.SITE;
---

<nav class:list={[{ "-end": align === "end" }, classNames]} {...rest}>
  <ul>
    <li><a href={`${baseUrl}#about`}>About</a></li>
    <li><a href={`${baseUrl}#tech`}>Skills</a></li>
    <li><a href={`${baseUrl}#projects`}>Projects</a></li>
    <li><a href={`${baseUrl}#contacts`}>Contacts</a></li>
  </ul>
</nav>
{ 
  disableMobile ? 
  <></> : 
    <label for="menu-toggle"> Menu</label>
    <input id="menu-toggle" class="menu-toggle" type="checkbox" />
    <nav data-mobile class="m-menu">
      <ul>
        <li><a href={`${baseUrl}#about`}>About</a></li>
        <li><a href={`${baseUrl}#tech`}>Skills</a></li>
        <li><a href={`${baseUrl}#projects`}>Projects</a></li>
        <li><a href={`${baseUrl}#contacts`}>Contacts</a></li>
      </ul>
      <slot />
    </nav>
}
<style lang="scss">
  @use "styles.scss" as utils;

  nav {
    display: inline-flex;
    flex: 1 1 0;

    &.-end {
      justify-content: flex-end;
    }

    @include utils.tablet {
      display: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    @include utils.font(caption, m);

    @include utils.mobile {
      flex-direction: column;
      margin: 0;
    }
  }

  li {
    color: utils.text-color(secondary);
    @include utils.skipIfNoMotionPrefered() {
      transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      // TODO underline with animation
      color: utils.text-color(secondary-hover);
    }

    + li {
      margin-left: 3rem;

      @include utils.mobile {
        margin-left: 0;
      }
    }

    @include utils.mobile {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }

  a {
    text-decoration: none;
  }

  .hidden {
    display: none;
    overflow-x: scroll;
  }

  label {
    display: none;
    order: 3;
    @include utils.font(caption, s);

    // &,
    // &:before,
    // &:after {
    //   content: "";
    //   width: 100%;
    //   height: 6px;
    //   background-color: utils.color(main);
    // }

    @include utils.tablet {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }

    .menu-toggle:checked ~ & {
      box-shadow: 1px 1px 0 0 utils.color(secondary);
    }
  }

  .menu-toggle {
    display: none;
  }

  .m-menu {
    display: none;
    top: 0;
    left: 0;

    .menu-toggle:checked ~ & {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      width: 100vw;
      padding: 1.2rem 0;
      box-shadow: 7px 11px 10px 0px utils.color(main, 0.3);
      transform: translateY(var(--header-height));
      transition: transform 5s ease-out;
      background-color: utils.color(light);

      :global(.is-pinned) & {
        background-color: utils.color(light, 0.8);
      }

      @include utils.mediaBreakpointAfter(m) {
        display: none;
      }
    }
  }
</style>

<script>
  // const mobileMenuToggle = document.querySelector(".menu-toggle") as HTMLInputElement;
  // document.addEventListener("click", (event) => {
  //   if (mobileMenuToggle && event.currentTarget !== mobileMenuToggle) {
  //     mobileMenuToggle.checked = false;
  //   }
  // });
  // mobile menu close outside
</script>
