---
import { links } from "../const";
import { Icon } from "astro-icon";

const networks = [
  {
    type: "LinkedIn",
    link: links.linkedin,
    icon: "mdi:linkedin",
  },
  {
    type: "Twitter",
    link: links.twitter,
    icon: "mdi:twitter",
  },
  {
    type: "Github",
    link: links.github,
    icon: "mdi:github",
  },
];
---

<ul>
  {
    networks.map((network) => (
      <li title={network.type}>
        <a
          target="_blank"
          href={network.link}
          aria-label={`Reach me out with ${network.type}`}
        >
          <Icon
            width="30"
            height="30"
            name={network.icon}
            aria-label={`${network.type} logo`}
          />
        </a>
      </li>
    ))
  }
</ul>
<style lang="scss">
  @use "styles.scss" as utils;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  li {
    + li {
      margin-left: 12px;
    }
  }
  a {
    display: flex;
    color: utils.color("tertiary");
    text-decoration: none;
    @include utils.font(text, m);

    @include utils.skipIfNoMotionPrefered() {
      transition: color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      color: utils.color("accent");
    }
  }
</style>
